@import url('https://fonts.googleapis.com/css?family=Gugi|Raleway');
/*//font-family: 'Raleway', sans-serif;*/

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table;
    background-image: url(bg.jpg);
    background-size: cover;
}
#landing-container  {
    width: 800px;
    display: table-cell;
    vertical-align: middle;
    border-right: 2px solid red;
}
h1 {
    text-align: center;
    padding-left: 40px;
    background-color: aqua;
}
#landing-border {
    max-width: 70%;
    margin: 0 auto 0 auto;
    border-top: 2px solid white;
}
#landing-description {
    background-color: aqua;
}

#landing-description p {
    padding-left: 40px;
}
#button-cell {
    background-color: white;
    display: table-cell;
    vertical-align: middle;
}

#button-login {
      font-family: 'Raleway', sans-serif;
    margin: auto;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

#button-signup {
      font-family: 'Raleway', sans-serif;
        margin: auto;
    align-items: center;
    text-align: center;
}


.button {
    cursor: pointer;
    border-radius: 20px;
    width: 400px;
    
}