.container {
    text-align: center;
    padding: 20px;
    background-color: #222e2e;
    margin-top: 10%;
    border-radius: 30px;
}

.form-control {
    padding: 5px;
    margin: 5px;
}

.col-sm-4 {
    margin-left: 90px;
}