body{
    margin: 0;
    background-color: #f7ebec;
    
}

.loginContainer{
    position: fixed;
    padding: 2em;
    height: 29em;
    width: 28em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    text-align: center;
}
.regContainer{
    position: fixed;
    padding: 2em;
    height: 100%;
    width: 40em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    text-align: center;
}

.homeContainer{
    position: fixed;
    padding: 2em;
    height: 100%;
    width: 40em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.btn-home{
    border-radius:2em;
    width: 18em;
    height: 4.3em;
    margin: 0.5em;
}

#button-cell{
 
}

.btn-login{
    width: 50%;
    height: 10%;
}

.loginTag{
    font-size: 40px;
    text-align: left;
    padding-left: 15%;
}

#loginHeader{
    padding-left: 4em;
}

.signUpTag{
    font-size: 25px;
    text-align: left;
    padding-left: 15%;
}

#registerTag{
    padding: 2em;
}

#qrentLogo{
    float: left;
    height: 5.5em;
    width: 5.5em;
}

#qrentTag{
    font-size: 55px;
    text-align: left;
}

/*Console*/
.btn-group btn-group-lg {
    margin: 20px;
}

.page-header {
    color: white;
    text-shadow: 2px 2px #4b4747;
    background-color: wheat;
    padding: 20px;
}

.jumbotron {
    border: 2px solid rgb(182, 216, 250);
}

#content p {
    background-color: white;
}