<form #regForm = "ngForm" (ngSubmit)="register(regForm)">
	<div class = "formcont">
	    <div class="info basic">  
	    	<p>Basic Info</p>
	        <input type="text" [(ngModel)] = "firstName" name="firstName" placeholder="First Name">

	        <input type="text" [(ngModel)] = "lastName" name="lastName" placeholder="Last Name">

	        <input type="email" [(ngModel)] = "email" name="email" placeholder="E-mail Address">

	        <input type="text" [(ngModel)] = "mobileNumber" name="mobileNumber" placeholder="Mobile Number">

	        <input type="text" [(ngModel)] = "userName" name="username" placeholder="Username">

	        <input type="password" [(ngModel)] = "password" name="password" placeholder="Password">

	    </div>
	    <div>
	    	<p>Birthday</p>
            <input type="date" [(ngModel)] = "birthday" name="birthday" placeholder="Birthday">
	    
	        <p>Address</p>
            <input type="text" [(ngModel)] = "street" name="street" placeholder="Street"> 
    
            <input type="text" [(ngModel)] = "municiplaity" name=" municipality" placeholder="Municipality"> 

            <input type="text" [(ngModel)] = "province" name="province" placeholder="Province"> 
                
            <input type="text" [(ngModel)] = "postalcode" name="postalCode" placeholder="Postal Code"> 
	    </div>

    	<input type="submit" value="Register">

    </div>

</form>
