mixin header(links)
	div.page-header
		nav.navbar.navbar-expand-lg.navbar-light
			a.navbar-brand(href='/')
				h1 Qrent
			ul.nav.navbar-nav.navbar-right
				each link , label in links
					li.nav-item
						a.nav-link(href=link) #{label}
	